* {
    margin: 0;
    padding: 0;
}
@font-face {
    src: url(fonts/cunia.ttf);
    font-family: cunia;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.background {
    background-image: url(./IMAGES/pexels-verschoren-maurits-3756728.jpg);
    background-size: cover;
    opacity: 0.85;
}
.attribute {
    position: absolute;
    right: 20px;
    color: white;
    opacity: 0.6;
    font-size: 11px;
    font-weight: normal;
        
}
header {
    width: 100%;
    height: 60px;
    background-color: rgba(249,224,174,0.6);
}
.header-logo {
    width: 125px;
    margin: 0 15px;
    padding: 15px 0 14px 30px;
    float: left;
}
.header-logo:hover {
    cursor: pointer;
    background-color: rgba(252, 134, 33, 0.5);
}
.header-list li {
    padding: 19px 20px;    
}
ul {
    display: flex;
    justify-content: flex-end;
}
li {
    list-style: none;
    
    float: left;
    color: #c24914;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial Narrow'; 
}
li:hover {
    color: #682c0e;
    cursor: pointer;
    background-color: rgba(252, 134, 33, 0.5);
}
.top-wrapper {
    width: 100%;
    height: 550px;
    
}
.container {
    text-align: center;
    padding: 110px 20px;
}
.container h1 {
    font-size: 72px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.container p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 25px;
}
.txKopike {
    font-family: cunia;
    color: #682c0e;
}
.txProduct {
    color: #fc8621;
}
button {
    background-color: Transparent;
    
    border: 2px solid #fc8621;
    color: #fc8621;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
}
button:focus {
    background-color: #fc8621;
    border-style: none;
    color: #682c0e;
    padding: 12px 24px;
    border-radius: 20px;
    cursor:pointer;
    font-weight: bold;    
    background-repeat:no-repeat;        
    outline:none;
    box-shadow: 0 5px 5px black;
}
.shop {
    margin-top: 20px;
}
.extra-section {
    padding: 0 20px 50px 20px;
}
.extra-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ex-heading {
    text-align: center;
    padding: 50px 20px 10px 20px;
    font-size: 36px;
    color: #682c0e;
    border-bottom: 1px solid #682c0e;
    margin-bottom: 50px;
    
}
.extra-offers {
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 10px;
    width: 25%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px gray;
    
}
.offer-icon {
    text-align: center;
}
.offer-icon img {
    width: 190px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.shop-icon {
    margin-top: 20px;
    margin-bottom: 10px;
}
footer {
    
    background-color: #f9e0ae;
}
.footer-wrapper {
    display: flex;
    padding: 20px 25px;
}
.footer-logos {
    width: 450px;
    display: flex;
    flex-direction: column;

}
.footer-logos img {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}
.fas {
    color: #682c0e;
    font-size: 20px;
    
}
.fa-phone, .fa-map-marker-alt {
    margin-bottom: 15px;
    
}
.fab {
    margin-right: 35px;
    margin-top: 20px;
    font-size: 20px;
    color: #682c0e;
}
.input-wrapper {
    display: flex;
    flex-direction: row;
}
.input {
    display: flex;
    flex-direction: column;
}
.textarea-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
input {
    width: 350px;
    height: 25px;
    color: #682c0e;
    border: 2px solid #682c0e;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 25px;
    margin-right: 25px;
    padding: 5px;
}
textarea {
    width: 550px;
    height: 89px;
    color: #682c0e;
    border: 2px solid #682c0e;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 25px;
    padding: 5px;
}
.submit {
    border: 2px solid #682c0e;
    color: #682c0e;
}
.submit:focus {
    background-color: #682c0e;
    color: #fc8621;
}
.footer-bottom {
    text-align: center;
    background-color: #ccb68b;
    border-top: 1px solid #682c0e;
    height: 60px;
}
.footer-bottom p {
    color: #682c0e;
    padding-top: 20px;
}